<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Erstream | @ViewBag.Title </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Erstream Stats" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="~/Content/img/small-icon-logo.png">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/metronic/css")
    <!-- END GLOBAL MANDATORY STYLES -->
    @RenderSection(name: "head", required: false)

    @Styles.Render("~/Content/layout/css")


</head>
<!-- END HEAD -->
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/Home/Index">
                    <img src="~/Content/img/logo.png" alt="logo" width="140" />
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="separator hide"> </li>
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                        <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                        <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-bell"></i>
                                <span class="badge badge-success"> 7 </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <h3>
                                        <span class="bold">12 pending</span> notifications
                                    </h3>
                                    <a href="page_user_profile_1.html">view all</a>
                                </li>
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">just now</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-success">
                                                        <i class="fa fa-plus"></i>
                                                    </span> New user registered.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">3 mins</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-danger">
                                                        <i class="fa fa-bolt"></i>
                                                    </span> Server #12 overloaded.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">10 mins</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-warning">
                                                        <i class="fa fa-bell-o"></i>
                                                    </span> Server #2 not responding.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">14 hrs</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-info">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </span> Application error.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">2 days</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-danger">
                                                        <i class="fa fa-bolt"></i>
                                                    </span> Database overloaded 68%.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">3 days</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-danger">
                                                        <i class="fa fa-bolt"></i>
                                                    </span> A user IP blocked.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">4 days</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-warning">
                                                        <i class="fa fa-bell-o"></i>
                                                    </span> Storage Server #4 not responding dfdfdfd.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">5 days</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-info">
                                                        <i class="fa fa-bullhorn"></i>
                                                    </span> System Error.
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="time">9 days</span>
                                                <span class="details">
                                                    <span class="label label-sm label-icon label-danger">
                                                        <i class="fa fa-bolt"></i>
                                                    </span> Storage server failed.
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- END NOTIFICATION DROPDOWN -->
                        <li class="separator hide"> </li>
                        <!-- BEGIN INBOX DROPDOWN -->
                        <li class="separator hide"> </li>
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile">  </span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                <img alt="" class="img-circle" src="/Content/metronic_v4.7.5/assets/layouts/layout4/img/avatar9.jpg" />
                            </a>

                            <ul class="dropdown-menu dropdown-menu-default" id="sub-account">


                                <li>
                                    <a href="javascript:;" class="account">
                                        <i class="icon-user"></i> My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Home/Login" onclick="logout()">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @Html.Partial("_Sidebar")
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        @RenderBody()
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <div class="page-footer">

        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- BEGIN FOOTER -->


    @Scripts.Render("~/bundles/metronic/global")
    <script src="~/Scripts/KeysSpecification.js"></script>

    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <script src="/Content/metronic_v4.7.5/assets/global/plugins/respond.min.js"></script>
    <script src="/Content/metronic_v4.7.5/assets/global/plugins/excanvas.min.js"></script>
    <script src="/Content/metronic_v4.7.5/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/layout/js")


    <script type="text/javascript">
        $(document).ready(function () {
            if ($.cookie("user") == "tmdvod")
                $.cookie("AccountCheck", "ok");
            console.log($.cookie("accountPtc"));
            $.ajax({
                url: 'http://api.serverstats.erstream.com/api/values/GetFilterFacets',
                type: 'POST',
                data: {
                    startDateTime: '2017-06-15T10:00:00Z',
                    endDateTime: '2017-06-15T12:00:00Z',
                    dataRange: 'custom',
                    facetFields: 'str;st;lfn;ctr;us;btrg;strg;devg',
                    PublicTokenKey: $.cookie("accountPtc")
                },
                dataType: 'json',
                success: function (data) {
                    var num = data.scid.length;
                    console.log(data);
                    if (num > 2) {
                        $("#sub-account").prepend('<li class="divider"> </li>');
                        var li = null;
                        $.each(data.scid, function (i) {
                            var text = data.scid[i];
                            if (text != "") {
                                var link = $('<a href="/Home/Index" class="account">' + text + '</a>');
                                var li = $('<li>').append(link).on("click", function () {
                                    var x = $(this).find('a.account').text();
                                   
                                    if ($.cookie("AccountCheck") == "ok")
                                        $.cookie("AdditionalFilters", x);

                                    $.cookie('user', x);
                                    var user = $.cookie('user');
                                    KeySpec(user);
                                });
                                $("#sub-account").prepend(li);
                            }
                        });

                    }

                },
                error: function (err) {
                    console.log(err);
                }
            });


            //Yeni değişikliklik


            function logout() {
                $.cookie("ptc", null, { expires: -1 });
                $.cookie("accountPtc", null, { expires: -1 });
                $.cookie("AdditionalFilters", null, { expires: -1 });
                $.cookie("AccountCheck", false);
            }
            console.log($.cookie("AdditionalFilters"));
        });
    </script>

</body>
</html>